@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set design spec */
:root {
  font-size: 0.9375rem;
  --teal: #3ee9e5;
  --white: #ffffff;
  --faint-white: rgba(250, 250, 250, 0.4);
  --purple: #093f68;
  --dark-blue: #080c20;
  --faint-dark-blue: rgba(8, 12, 32, 0.6);
  --gray-purple: #777f98;
  --errors: #ff2965;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--dark-blue);
  color: var(--gray-purple);
  text-align: center;
  height: 2000px;
}

/* Set base text to mobile first */

h1 {
  margin: 0;
  margin-bottom: 1.5333rem;
  font-size: 2.13333rem;
  line-height: 2.6667rem;
  font-weight: 800;
  color: var(--white);
}

h2 {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.366em;
  font-weight: 800;
  color: var(--white);
}

h3 {
  margin-bottom: 0.7334rem;
  font-size: 1.2rem;
  line-height: 1.639rem;
  font-weight: 800;
  color: var(--white);
}

p {
  font-weight: 500;
  line-height: 1.6666rem;
}

/* Set button design  */

button {
  padding: 0.6em 1.066em;
  background-color: var(--teal);
  border: 2px solid var(--teal);
  border-radius: 1.5em;
  color: var(--gray-purple);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 1.6666rem;
  font-size: inherit;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--teal);
}

button:active {
  background-color: transparent;
  border: 2px solid var(--teal);
}

/* Set input design */

input[type="email"] {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  font-family: inherit;
  outline: none;
  line-height: 1.6666rem;
  color: inherit;
  padding: 0.6em 1.066em;
  border-radius: 1.5em;
  color: var(--faint-white);
}

input[type="email"]:hover {
  border: 2px solid var(--teal);
}

input[type="email"]:focus {
  border: 2px solid var(--teal);
}

input[type="email"]:active {
  border: 2px solid var(--teal);
}

/* Add active and error states */

/* Wrapper */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* Banner related */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.6667rem;
  margin-bottom: 144px;
}

.logo {
  align-self: center;
  margin-bottom: 4.433rem;
}

.banner {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100%, 375px);
  grid-template-rows: 230px auto;
}

.banner-img {
  background-image: url(/imgs/illustration-hero-mobile.png);
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

@media screen and (max-width: 375px) {
  background-image: url(/imgs/illustration-hero-mobile.png);
}

.banner-copy {
  display: flex;
  max-width: 505px;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 24px;
  margin-top: 3.367rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.banner-title {
  padding: 0 2.5rem;
}

.banner-toggle_container {
  display: flex;
  height: 42px;
  justify-content: center;
  align-content: center;
}

.banner-para {
  margin-bottom: 2.1333rem;
}

/* Toggle  */

.toggle-switch {
  width: 26px;
}

/* targets  */
.toggle-switch,
.toggle-outside {
  border-radius: 50%;
  padding: 10px;
}

.toggle-switch,
.toggle-inside {
  border-radius: 50%;
  border: 2px solid var(--white);
  position: absolute;
}

.toggle-inside {
  height: 6px;
  width: 6px;
  bottom: 7px;
  left: 7px;
  animation: toggle 3s infinite 2s;
}

.toggle-verticle {
  background-color: var(--dark-blue);
  border-radius: 13px;
  width: 0px;
  height: 42px;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: showToggle linear 3s;
}

/* Toggle animation */
@keyframes showToggle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes toggle {
  0% {
    bottom: 7px;
  }

  50% {
    bottom: 25px;
    opacity: 0.1;
  }

  75% {
  }

  100% {
    bottom: 7px;
    opacity: 1;
  }
}

/* Main */

main {
  padding: 0 24px;
}

/* Benefits section */

.benefits-list {
  margin-bottom: 144px;
}

.benefits-wrapper {
  max-width: 573px;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.benefit {
  display: flex;
  flex-direction: column;
  max-width: 515px;
  align-items: center;
}

.benefit-para {
  max-width: 340px;
}

.icon-container {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 48px;
  width: 120px;
  height: 124px;
  padding: 22px 30px;
  margin-bottom: 32px;

  text-align: center;
}

/* Pricing Section */

.price-plans {
  margin-bottom: 144px;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 56px;
}

.card-wrapper ul {
  list-style-type: none;
}

/* Card In General */

.card {
  text-align: left;
  display: grid;
}

.card figure {
  position: relative;
  z-index: 10;
  padding-left: 30px;
}

.card-copy {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  border-radius: 8px;
}

.card-copy_title {
  margin-bottom: 1.2667rem;
}

.card-copy_para {
  margin-bottom: 26px;
}

.card-list_title {
  font-size: 2.667rem;
  font-weight: 800;
  margin-bottom: 1.267rem;
}

.card-list_title-second {
  font-size: 1rem;
  color: var(--faint-dark-blue);
  font-weight: 500;
  margin-left: 7.5px;
}

.card-copy ul li {
  margin-bottom: 12px;
  line-height: 25px;
}

.card-free .check-icon {
  color: var(--white);
}

.check-icon {
  color: inherit;
  margin-right: 15px;
}

/* Card Free Related */

.card-free {
  grid-template-columns: minmax(auto, 375px);
  grid-template-rows: 23px 23px auto;
}

.card-free figure {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card-copy_free {
  padding: 61px 29px 32px 29px;
  background-color: var(--purple);
  color: var(--white);
}

.card-copy_free-para {
  color: var(--faint-white);
}

/* Card Paid Related */

.card-paid {
  grid-template-columns: minmax(auto, 375px);
  grid-template-rows: 32.5px 32.5px auto;
}

.card-paid figure {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card-copy_paid {
  padding: 61px 29px 32px 29px;
  color: var(--dark-blue);
  background-color: var(--teal);
}

.card-copy_paid h3 {
  color: inherit;
}

.card-list_title-paid,
.card-list_title-free {
  display: flex;
  align-items: center;
  line-height: 54.64px;
}

.card-copy_paid-para {
  color: var(--faint-dark-blue);
}

/* Notified Section */

.notified {
  margin-bottom: 164px;
  /* display: flex;
  justify-content: center; */
}

.notified-wrapper {
  position: relative;
  max-width: 476px;
  margin: 0 auto;
}

.notified-wrapper h2 {
  margin-bottom: 31px;
}

.notified-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.notified-form input {
  flex: 1;
}

/*
///////////////////////////////////
////////// MEDIA QUERIES //////////
///////////////////////////////////
*/

/* Mobile width 375 */
@media screen and (min-width: 375px) {
  .hero {
    background-image: url(/imgs/illustration-hero-mobile.png);
  }

  .benefits-wrapper {
    align-items: center;
    gap: 56px;
  }
}

/* Tablet width 768 */
@media screen and (min-width: 768px) {
  h1 {
    margin-bottom: 1.6rem;
  }

  header {
    padding-left: 2.6rem;
    margin-top: 3.2rem;
    justify-content: flex-start;
  }

  .hero {
    background-image: url();
  }

  /* BENEFITS SECTION */

  .benefit {
    flex-direction: row;
    text-align: left;
    gap: 55px;
  }

  .icon-container {
    margin-bottom: 0;
  }

  .benefits-wrapper {
    align-items: flex-start;
    gap: 40px;
  }

  .benefit-1,
  .benefit-3 {
    align-self: flex-end;
  }

  /* PRICING SECTION */

  .price-plans {
    display: flex;
    justify-content: center;
  }

  .price-wrapper {
    max-width: 573px;
  }

  .card-wrapper {
    align-items: center;
  }

  .card {
    max-width: 445px;
  }

  .card-free {
    grid-template-columns: minmax(auto, 445px);
  }

  .card-paid {
    grid-template-columns: minmax(auto, 445px);
  }

  /* Notified Section */

  .notified-form {
    flex-direction: row;
  }

  .notified-img {
    width: 1022px;
  }
}

/* Media Queries */

/* Desktop width 1440 */
@media screen and (min-width: 1440px) {
  header {
    padding-left: 0;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1.1667;
    margin-bottom: 1.6rem;
  }

  h2 {
    margin-bottom: 1.6rem;
  }

  h3 {
    margin-bottom: 1.5333rem;
  }

  /* BENEFITS SECTION */

  .banner-copy {
    max-width: 730px;
    padding: 0 80px;
  }

  .benefits-wrapper {
    flex-direction: row;
    max-width: 1100px;
    height: 383px;
    align-items: flex-end;
  }

  .benefits-list {
    margin-bottom: 202px;
  }

  .benefit {
    flex-direction: column;
    margin-bottom: 0;
    gap: 32px;
    text-align: center;
  }

  .benefit-1,
  .benefit-3 {
    align-self: flex-start;
  }

  /* PRICING SECTION */

  .price-wrapper {
    max-width: 920px;
    align-items: center;
  }

  .price-copy {
    max-width: 540px;
  }

  .card-wrapper {
    align-items: center;
    height: 482px;
    max-width: 910px;
    flex-direction: row;
    gap: 30px;
  }

  .card {
    flex: 1;
  }

  .card-copy_free {
    padding: 49px 29px 32px 29px;
  }

  .card-copy_paid {
    padding: 61px 29px 60px 29px;
  }
}
