@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set design spec */
:root {
  font-size: 0.9375rem;
  --teal: #3ee9e5;
  --white: #ffffff;
  --faint-white: rgba(250, 250, 250, 0.4);
  --purple: #093f68;
  --dark-blue: #080c20;
  --gray-purple: #777f98;
  --errors: #ff2965;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--dark-blue);
  color: var(--gray-purple);
  text-align: center;
}

/* Set base text to mobile first */

h1 {
  margin: 0;
  margin-bottom: 1.5333rem;
  font-size: 2.13333rem;
  line-height: 2.6667rem;
  font-weight: 800;
  color: var(--white);
}

h2 {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.366em;
  font-weight: 800;
  color: var(--white);
}

h3 {
  margin-bottom: 0.7334rem;
  font-size: 1.2rem;
  line-height: 1.639rem;
  font-weight: 800;
  color: var(--white);
}

p {
  font-weight: 500;
  line-height: 1.6666rem;
}

/* Set button design  */

button {
  padding: 0.6em 1.066em;
  background-color: var(--teal);
  border: 2px solid var(--teal);
  border-radius: 1.5em;
  color: var(--gray-purple);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 1.6666rem;
  font-size: inherit;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--teal);
}

button:active {
  background-color: transparent;
  border: 2px solid var(--teal);
}

/* Set input design */

input[type="email"] {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  font-family: inherit;
  outline: none;
  line-height: 1.6666rem;
  color: inherit;
  padding: 0.6em 1.066em;
  border-radius: 1.5em;
  color: var(--faint-white);
}

input[type="email"]:hover {
  border: 2px solid var(--teal);
}

input[type="email"]:focus {
  border: 2px solid var(--teal);
}

input[type="email"]:active {
  border: 2px solid var(--teal);
}

/* Add active and error states */

/* Wrapper */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* Banner related */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.6667rem;
}

.logo {
  align-self: center;
  margin-bottom: 4.433rem;
}

.banner {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100%, 375px);
  grid-template-rows: 230px auto;
}

.banner-img {
  background-image: url(/imgs/illustration-hero-mobile.png);
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

@media screen and (max-width: 375px) {
  background-image: url(/imgs/illustration-hero-mobile.png);
}

.banner-copy {
  display: flex;
  max-width: 505px;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 24px;
  margin-top: 3.367rem;
  margin-bottom: 144px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.banner-title {
  padding: 0 2.5rem;
}

.banner-toggle_container {
  display: flex;
  height: 42px;
  justify-content: center;
  align-content: center;
}

.banner-para {
  margin-bottom: 2.1333rem;
}

/* Toggle  */

@keyframes showToggle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes toggle {
  0% {
    bottom: 7px;
  }

  50% {
    bottom: 25px;
    opacity: 0.1;
  }

  75% {
  }

  100% {
    bottom: 7px;
    opacity: 1;
  }
}

.toggle-switch {
  width: 26px;
}

/* targets  */
.toggle-switch,
.toggle-outside {
  border-radius: 50%;
  padding: 10px;
}

.toggle-switch,
.toggle-inside {
  border-radius: 50%;
  border: 2px solid var(--white);
  position: absolute;
}

.toggle-inside {
  height: 6px;
  width: 6px;
  bottom: 7px;
  left: 7px;
  animation: toggle 3s infinite 2s;
}

.toggle-verticle {
  background-color: var(--dark-blue);
  border-radius: 13px;
  width: 0px;
  height: 42px;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: showToggle linear 3s;
}

/* Mobile width 375 */
@media screen and (min-width: 375px) {
  .hero {
    background-image: url(/imgs/illustration-hero-mobile.png);
  }
}

/* Tablet width 768 */
@media screen and (min-width: 768px) {
  h1 {
    margin-bottom: 1.6rem;
  }

  header {
    padding-left: 2.6rem;
    margin-top: 3.2rem;
    justify-content: flex-start;
  }

  .hero {
    background-image: url();
  }
}

/* Media Queries */

/* Desktop width 1440 */
@media screen and (min-width: 1440px) {
  header {
    padding-left: 0;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 1.1667;
    margin-bottom: 1.6rem;
  }

  h2 {
    margin-bottom: 1.6rem;
  }

  h3 {
    margin-bottom: 1.5333rem;
  }

  .banner-copy {
    max-width: 730px;
    padding: 0 80px;
  }
}
